* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 14px;
    color: #dcdfe1;
}

#waybar {
    background-color: rgba(0, 0, 0, 0);
}

tooltip {
    background: rgba(12, 12, 12, 0.85);
    border-radius: 6px;
    color: #e0e0e0;
    font-size: 12px;
}

#custom-archlogo {
    padding: 0 13px 0 8px;
    margin: 2px;
    font-size: 16px;
    background-color: #0d0d0d;
    border-radius: 6px;
}

#workspaces {
    background-color: #0d0d0d;
    margin: 2px;
    border-radius: 6px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 2px;
    transition: 0.2s all;
}

#workspaces button.active {
    box-shadow: inset 0 -2px #dcdfe1;
    border-radius: 3px;
}

#window {
    padding: 0 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}

#clock {
    padding: 0 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}

#tray {
    margin: 0 6px;
}

#pulseaudio {
    padding: 0 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}

#pulseaudio.muted {
    color: #ff0000;
}

#language {
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
    min-width: 36px;
}

#network {
    padding: 0 6px;
    margin: 2px;
}

#custom-vpn {
    padding-right: 12px;
}

#memory {
    padding: 2px 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}

#cpu {
    padding: 2px 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}

#mpris.spotify {
    padding: 0 8px;
    background-color: #0d0d0d;
    border-radius: 6px;
    margin: 2px;
}
