* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 14px;
    color: #dcdfe1;
}

#waybar {
    background-color: rgba(12, 12, 12, 0.85);
}

tooltip {
    background: rgba(12, 12, 12, 0.85);
    border-radius: 8px;
    color: #e0e0e0;
    font-size: 12px;
}

#custom-archlogo {
    padding: 0 12px 0 8px;
    margin: 0 6px;
    font-size: 16px;
}

#workspaces button {
    padding: 1px 8px;
    margin: 2px;
    transition: 0.2s all;
}

#workspaces button.active {
    box-shadow: inset 0 -3px #dcdfe1;
    border-radius: 4px;
}

/*
#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/

#mode,
#window,
#scratchpad,
#pulseaudio,
#language,
#memory,
#cpu {
    padding: 2px 6px;
    background-color: #2e2e2e;
    border-radius: 8px;
    margin: 3px;
}

#pulseaudio,
#language,
#custom-vpn,
#network,
#memory,
#cpu {
    padding: 2px 1px;
}

#pulseaudio.muted {
    color: #ff0000;
}

#language {
    min-width: 40px;
}

#custom-vpn {
    padding-right: 12px;
}

#tray {
    margin: 0 8px;
}

#clock {
    margin-left: 8px;
    margin-right: 12px;
}
