* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 16px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#custom-spotify,
#tray,
#clock {
  background-color: rgb(15, 15, 15);
  padding: 4px 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
}

#workspaces button.active {
  background-color: #005299;
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #33CCFF;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#network {
  margin-left: 6px;
  border-radius: 10px 0 0 10px;
}

#network,
#pulseaudio,
#language,
#memory,
#cpu {
  background-color: rgb(15, 15, 15);
  margin-top: 6px;
  padding: 4px 2px;
  border-width: 0px;
}

#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#cpu {
  border-radius: 0 10px 10px 0;
  margin-right: 6px;
}

#tray {
    padding: 0 10px;
}
