* {
    font-family: FiraCode Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

#workspaces,
#window {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 2px;
    margin-left: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #000;
    box-shadow: inset 0 -3px #7A2F2F;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#network,
#pulseaudio,
#language,
#memory,
#cpu,
#tray,
#clock {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#language {
    background: #00b093;
    min-width: 18px;
}

#memory {
    background-color: #9b59b6;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#tray {
    background-color: #2980b9;
}

#clock {
    background-color: #64727D;
    margin-right: 5px;
}

